<section class="container mx-auto my-16">
  <div class="grid grid-cols-2 gap-5 my-5 max-md:grid-cols-1">
    <!-- site card -->
    <div class="border-2 border-gray-700 rounded-xl shadow-lg mt-10 overflow-hidden">
      <img class="w-full" [src]="siteImageURL"
      alt="siteImage">
      <div class="p-5">
        <p class="text-xl font-bold"> {{siteName}} </p>
        <div class="w-fit bg-blue-200 text-blue-800 rounded-lg px-2 mt-3"> {{siteURL}} </div>
      </div>
    </div>
    <!-- add password form -->
    <div class="py-10 px-10 border-2 border-gray-700 rounded-xl mt-10">
      <h2 class="text-2xl">{{formState}} User & Password</h2>
      <p>You Can {{formState}} User & Password Here</p>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col mt-2">
          <label for="email" class="text-lg">Email</label>
          <input type="text" name="email" formControlName="email"
            class="border-2 border-gray-700 rounded-xl w-full p-2">
        </div>
        <div class="flex flex-col mt-2">
          <label for="userName" class="text-lg">User Name</label>
          <input type="text" name="userName" formControlName="userName"
            class="border-2 border-gray-700 rounded-xl w-full p-2">
        </div>
        <div class="flex flex-col mt-2">
          <label for="password" class="text-lg">Password</label>
          <input type="password" name="password" formControlName="password"
            class="border-2 border-gray-700 rounded-xl w-full p-2">
        </div>
        <button type="submit" class="bg-gray-900 text-white shadow-md px-5 py-3 rounded-xl mt-5 mr-2">{{formState}} Password</button>
        <button type="button" class="bg-white text-gray-900 border-2 border-gray-700 shadow-md px-5 py-3 rounded-xl mt-5" (click)="resetForm()">Cancel</button>
      </form>
    </div>
  </div>
  @if (isSuccess) {
  <div class="mt-5 shadow-md px-5 py-3 rounded-xl bg-green-200 text-green-900">
    {{dataMsg}}
  </div>
  }
  <div class="grid grid-cols-1 my-10">
    <table class="border-2 border-gray-700">
      <thead>
        <tr class="bg-slate-200 font-bold">
          <td class="px-5 py-3 border-2 border-gray-700">Email</td>
          <td class="px-5 py-3 border-2 border-gray-700">User Name</td>
          <td class="px-5 py-3 border-2 border-gray-700">Password</td>
          <td class="px-5 py-3 border-2 border-gray-700">Action</td>
        </tr>
      </thead>
      <tbody>
        @for (password of passwordList | async; track $index) {
        <tr>
          <td class="px-5 border-2 border-gray-700">{{password.email}} </td>
          <td class="px-5 border-2 border-gray-700">{{password.userName}}</td>
          <td class="px-5 border-2 border-gray-700">{{password.password}}</td>
          <td class="px-5 border-2 border-gray-700">
            <button type="button" class="bg-gray-900 text-white shadow-md px-5 py-3 rounded-xl mr-2"
            (click)="onUpdate(password.id,password.email,password.userName,password.password)">Update</button>
            <button type="button" class="bg-white text-gray-900 border-2 border-gray-700 shadow-md px-5 py-3 rounded-xl"
            (click)="onDelete(password.id)">Delete</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
