<div class="p-1 min-w-full dark:bg-gray-900 dark:text-white">
  <section class="container mx-auto my-16">
    <!-- header -->
    <h1 class="text-5xl mt-5 mb-5 dark:text-white">Securely Save Your Websites Here!</h1>
    <p class="mb-5 text-2xl dark:text-gray-400">You Can Add New Websites From This Form</p>

    @if (isSuccess) {
    <div class="mt-5 shadow-md px-5 py-3 rounded-xl bg-green-200 text-green-900 dark:bg-green-900 dark:text-green-300">
      {{dataMsg}}
    </div>
    }

    <!-- Add site form -->
    <div class="py-10 px-10 border-2 dark:border-gray-600 rounded-xl mt-5 dark:bg-gray-800">
      <h2 class="text-2xl dark:text-white">{{formState}} Website</h2>
      <form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col mt-2">
          <label for="siteName" class="text-lg dark:text-gray-300">Website Name</label>
          <input type="text" name="siteName" formControlName="siteName"
            class="border-2 dark:border-gray-600 rounded-xl w-full p-2 dark:bg-gray-700 dark:text-gray-300">
        </div>
        <div class="flex flex-col mt-2">
          <label for="siteURL" class="text-lg dark:text-gray-300">Website URL</label>
          <input type="text" name="siteURL" formControlName="siteURL"
            class="border-2 dark:border-gray-600 rounded-xl w-full p-2 dark:bg-gray-700 dark:text-gray-300">
        </div>
        <div class="flex flex-col mt-2">
          <label for="siteImageURL" class="text-lg dark:text-gray-300">Website Image URL</label>
          <input type="text" name="siteImageURL" formControlName="siteImageURL"
            class="border-2 dark:border-gray-600 rounded-xl w-full p-2 dark:bg-gray-700 dark:text-gray-300">
        </div>
        <button type="submit"
          class="bg-gray-900 text-white dark:bg-gray-700 dark:text-white shadow-md px-5 py-3 rounded-xl mt-5 mr-2">{{formState}} Website</button>
        <button type="button" (click)="resetForm()"
          class="dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 border-2 shadow-md px-5 py-3 rounded-xl mt-5">Cancel</button>
      </form>
    </div>

    <h2 class="text-5xl mt-5 mb-5 dark:text-white">Your Websites</h2>
    <!-- site list -->
    <div class="grid grid-cols-3 gap-5 max-sm:grid-cols-1 max-lg:grid-cols-2">
      @for (site of siteList; track $index) {
      <!-- site card -->
      <div class="border-2 dark:border-gray-600 rounded-xl shadow-lg mt-10 overflow-hidden dark:bg-gray-800">
        <div class="aspect-video">
          <img class="w-full h-full object-cover" [src]="site.siteImageURL" [alt]="site.siteName">
        </div>
        <div class="p-5">
          <p class="text-xl font-bold dark:text-gray-300"> {{site.siteName}} </p>
          <div class="w-fit bg-blue-200 text-blue-800 dark:bg-blue-800 dark:text-blue-300 rounded-lg px-2 mt-3">{{site.siteURL}}</div>
          <button class="bg-gray-900 text-white dark:bg-gray-700 dark:text-white shadow-md px-5 py-3 rounded-xl mt-5 mr-2"
            routerLink="/password-list"
            [queryParams]="{id: site.id, Name: site.siteName, url: site.siteURL, ImageURL: site.siteImageURL}">Add New
            Password</button>
          <button (click)="onUpdate(site.siteName,site.siteURL,site.siteImageURL,site.id)"
            class="dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 border-2 shadow-md px-4 py-3 rounded-xl mt-5 mr-2">Update</button>
          <button (click)="onDelete(site.id)"
            class="dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 border-2 shadow-md px-5 py-3 rounded-xl mt-5">Delete</button>
        </div>
      </div>
      }
    </div>
  </section>
</div>
